@import 'tw-animate-css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-blue: #2997ff;
  --color-gray: #86868b;
  --color-gray-100: #94928d;
  --color-gray-200: #afafaf;
  --color-gray-300: #42424570;
  --color-zinc: #101010;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply outline-ring/50 border-[#3b3b3b];
  }

  body {
    @apply h-full w-dvw overflow-x-hidden bg-black text-white select-none;
  }

  canvas {
    @apply touch-none;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility nav-height {
  @apply h-[calc(100vh-60px)];
}

@utility btn {
  @apply bg-blue hover:text-blue hover:border-blue my-5 rounded-3xl border border-transparent px-5 py-2 hover:border hover:bg-transparent;
}

@utility color-container {
  @apply flex items-center justify-center rounded-full bg-gray-300 px-4 py-4 backdrop-blur;
}

@utility size-btn-container {
  @apply ml-3 flex items-center justify-center gap-1 rounded-full bg-gray-300 p-1 backdrop-blur;
}

@utility size-btn {
  @apply flex h-10 w-10 items-center justify-center rounded-full bg-white text-sm text-black transition-all;
}

@utility common-padding {
  @apply px-5 py-20 sm:px-10 sm:py-32;
}

@utility section-heading {
  @apply text-gray mb-5 translate-y-20 text-3xl font-medium opacity-0 md:text-5xl lg:mb-0 lg:text-6xl;
}

@utility feature-text {
  @apply text-gray max-w-md translate-y-[100px] text-lg font-semibold opacity-0 md:text-xl;
}

@utility feature-text-container {
  @apply flex-center mt-10 w-full flex-col gap-5 md:mt-16 md:flex-row;
}

@utility feature-video {
  @apply h-full w-full scale-150 object-cover object-center opacity-0;
}

@utility feature-video-container {
  @apply flex w-full flex-col items-center gap-5 md:flex-row;
}

@utility link {
  @apply text-blue flex translate-y-20 cursor-pointer items-center text-xl opacity-0 hover:underline;
}

@utility control-btn {
  @apply flex-center ml-4 rounded-full bg-gray-300 p-4 backdrop-blur;
}

@utility hero-title {
  @apply text-center text-3xl font-semibold text-gray-100 max-md:mb-10;
}

@utility hiw-title {
  @apply text-center text-4xl font-semibold md:text-7xl;
}

@utility hiw-subtitle {
  @apply text-gray py-10 text-center text-xl font-semibold md:text-2xl;
}

@utility hiw-video {
  @apply absolute h-[90%] w-[95%] overflow-hidden rounded-[56px];
}

@utility hiw-text-container {
  @apply flex flex-col items-start justify-between gap-24 md:flex-row;
}

@utility hiw-text {
  @apply text-gray text-xl font-normal md:font-semibold;
}

@utility hiw-bigtext {
  @apply my-2 text-3xl font-normal text-white md:text-5xl md:font-semibold;
}

@utility video-carousel_container {
  @apply relative h-[35vh] w-[88vw] sm:h-[50vh] sm:w-[70vw] md:h-[70vh];
}

@utility g_fadeIn {
  @apply translate-y-[100px] opacity-0;
}

#reflection-overlay {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.25), transparent 43%);
  mix-blend-mode: screen;
  transform: translate(var(--x, 0), var(--y, 0));
}
